#header {
  position: fixed;
  z-index: 1;
  height: 40px;
  width: 98%;
  background-color: grey;
  margin-bottom: 5px;
  margin-left: 10px;
  padding-left: 5px;
}
h4 {
  text-decoration: none;
}
#name {
  margin-right: 20px;
  padding-bottom: 10px;
  font-size: 16px;
}
